.hero-image{
background-image: url("https://www.qicuae.com/wp-content/uploads/2015/12/motorcycle-insurance-banner.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 400px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  width: 100%;
}
.email-subscribe{
    height: 70px;
    margin-top: 50px;
}
.subscribe-button{
    height: 70px;
    border: none;
    background-color: rgb(255, 67, 59);
    width: 100px;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.subscribe-text-color{
    color: rgb(255, 124, 119);
    font-weight: 700;
}